body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  margin: 2rem;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  cursor: pointer;
}
