* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#technology {
  margin: 10px;
  padding: 20px;
}

.technology__heading {
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.image__container {
  height: 100%;
  width: 100%;
}

.technology__image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

#nature {
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid__container img {
  width: 350px;
  height: 300px;
}

.grid__container {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 22em);
  grid-template-rows: repeat(2, 18.9em);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#food {
  margin: 10px;
  padding: 20px;
}

.food__container {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.food__container img {
  width: 70%;
  height: 70%;
}
